body{
    margin: 40px;
    background-color: rgb(186, 176, 176);
    font-family: Arial, sans-serif;
}

.messaggio1 {
    color: #22543d;
    background-color: #c6fd5c;
}

.messaggio2 {
    color: #fed7d7;
    background-color: #742a2a;
}

input{
    padding: 10%;
    margin: 8px 0;
    border-radius: 12px;
    background: #ffffef;

}